@use "../../colors" as c;
@use "../../mixins" as mx;

.clients {
	.section-inner {
		padding-top: c.$spacing--shared-v;
		padding-bottom: c.$spacing--shared-v;
	}

	.section-header {
		padding-bottom: c.$spacing--shared-v;
	}
}

.clients-inner {
	ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	li {
		padding: c.$spacing--shared-v c.$spacing--shared-h;
	}
}

@include mx.media(">medium") {
	.clients {
		.section-inner {
			padding-top: c.$spacing--shared-v;
			padding-bottom: c.$spacing--shared-v;
		}

		.section-header {
			padding-bottom: c.$spacing--shared-v;
		}

		.clients-inner {
			ul {
				flex-direction: row;
			}
		}
	}
}
