@use "../../colors" as c;
@use "../../mixins" as mx;

.cta {
	.section-inner {
		padding-top: c.$spacing--shared-v;
		padding-bottom: c.$spacing--shared-v;
	}
}

.cta-slogan {
	margin-bottom: c.$spacing--shared-v;
}

@include mx.media(">medium") {
	.cta {
		.section-inner {
			padding-top: c.$spacing--shared-v;
			padding-bottom: c.$spacing--shared-v;
		}
	}

	.cta-split {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cta-slogan {
		margin-bottom: 0;

		.cta-split & {
			margin-bottom: 0;
			margin-right: c.$spacing--shared-h;
		}
	}
}
