@use "../../colors" as c;
@use "../../mixins" as mx;

.features-split {
	.section-inner {
		padding-top: c.$spacing--shared-v;
		padding-bottom: c.$spacing--shared-v;
	}

	.section-header {
		padding-bottom: c.$spacing--shared-v;
	}
}

@include mx.media(">medium") {
	.features-split {
		.section-inner {
			padding-top: c.$spacing--shared-v;
			padding-bottom: c.$spacing--shared-v;
		}

		.section-header {
			padding-bottom: c.$spacing--shared-v;
		}
	}
}
