@use "../../colors" as c;
@use "../../mixins" as mx;

.hero {
	.section-inner {
		padding-top: c.$spacing--shared-v * 2;
		padding-bottom: c.$spacing--shared-v * 2;
	}
}

.hero-inner {
	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: c.$spacing--shared-v;
	}

	> .hero-figure {
		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

@include mx.media("<=medium") {
	.hero {
		.split-wrap {
			.split-item {
				.split-item-content {
					margin-bottom: c.$spacing--shared-v;
				}
			}

			&.invert-mobile {
				.split-item {
					.split-item-image {
						margin-bottom: c.$spacing--shared-v;
					}
				}
			}
		}
	}
}

@include mx.media(">medium") {
	.hero {
		.section-inner {
			padding-top: c.$spacing--shared-v * 3;
			padding-bottom: c.$spacing--shared-v * 3;
		}
	}

	.hero-inner {
		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: c.$spacing--shared-v * 1.5;
		}
	}
}
