@use "../../colors" as c;
@use "../../mixins" as mx;

.section-inner {
	position: relative; // To always display inner elements above pseudo decorative stuff
	padding-top: c.$spacing--shared-v;
	padding-bottom: c.$spacing--shared-v;
}

.section-header {
	padding-bottom: c.$spacing--shared-v;
}

@include mx.media(">medium") {
	.section-inner {
		padding-top: c.$spacing--shared-v;
		padding-bottom: c.$spacing--shared-v;
	}

	.section-header {
		padding-bottom: c.$spacing--shared-v;
	}
}
