@use "../../colors" as c;
@use "../../mixins" as mx;
@use "sass:math";

// Define local defaults for tiles variables
$team-item-width: 33.333% !default; // Default to 3-up tiles

.team {
	.section-inner {
		padding-top: c.$spacing--shared-v;
		padding-bottom: c.$spacing--shared-v;
	}

	.section-header {
		padding-bottom: c.$spacing--shared-v;
	}

	.tiles-wrap {
		margin-right: -(math.div(c.$spacing--shared-h, 2));
		margin-left: -(math.div(c.$spacing--shared-h, 2));
		margin-top: -(math.div(c.$spacing--shared-h, 2));

		&:last-of-type {
			margin-bottom: -(math.div(c.$spacing--shared-h, 2));
		}

		&:not(:last-of-type) {
			margin-bottom: math.div(c.$spacing--shared-h, 2);
		}

		&.push-left {
			&::after {
				content: "";
				flex-basis: $team-item-width;
				max-width: $team-item-width;
				box-sizing: content-box;
				padding-left: math.div(c.$spacing--shared-h, 2);
				padding-right: math.div(c.$spacing--shared-h, 2);
				height: 0;
			}
		}
	}

	.tiles-item {
		flex-basis: $team-item-width;
		max-width: $team-item-width;
		box-sizing: content-box;
		padding: math.div(c.$spacing--shared-h, 2);
	}

	.tiles-item-inner {
		padding-top: c.$spacing--shared-v;
		padding-bottom: c.$spacing--shared-v;
		padding-left: c.$spacing--shared-h;
		padding-right: c.$spacing--shared-h;
	}
}

@include mx.media(">medium") {
	.team {
		.section-inner {
			padding-top: c.$spacing--shared-v;
			padding-bottom: c.$spacing--shared-v;
		}

		.section-header {
			padding-bottom: c.$spacing--shared-v;
		}

		.tiles-wrap {
			margin-right: -(math.div(c.$spacing--shared-h, 2));
			margin-left: -(math.div(c.$spacing--shared-h, 2));
			margin-top: -(math.div(c.$spacing--shared-h, 2));

			&:last-of-type {
				margin-bottom: -(math.div(c.$spacing--shared-h, 2));
			}

			&:not(:last-of-type) {
				margin-bottom: math.div(c.$spacing--shared-h, 2);
			}

			&.push-left {
				&::after {
					padding-left: math.div(c.$spacing--shared-h, 2);
					padding-right: math.div(c.$spacing--shared-h, 2);
				}
			}
		}

		.tiles-item {
			padding: math.div(c.$spacing--shared-h, 2);
		}
	}
}
