[class*="illustration-"] {
	position: relative;

	&::after {
		pointer-events: none;
	}
}

[class*="illustration-element-"]::after {
	z-index: -1;
}

[class*="illustration-section-"]::after {
	z-index: -2;
}

// Hero illustration
.illustration-section-01::after {
	background-image: url("../images/illustration-section-01.svg");
}

// Features tiles illustration
.illustration-section-02::after {
	background-image: url("../images/illustration-section-02.svg");
}

// Features tiles illustration
.illustration-section-03::after {
	background-image: url("../images/illustration-section-03.svg");
}

// Cta illustration
.illustration-section-04::after {
	background-image: url("../images/illustration-section-04.svg");
}

// Pricing section illustration
.illustration-section-05::after {
	background-image: url("../images/illustration-section-05.svg");
}

// Generic illustration
.illustration-section-06::after {
	background-image: url("../images/illustration-section-06.svg");
}

// Behind hero figure
.illustration-element-01 {
	&::after {
		background-image: url("../images/illustration-element-01.svg");
	}

	// gradient
	&::before {
		background-image: url("../images/illustration-element-01b.svg");
		background-size: cover;
		background-repeat: repeat;
		pointer-events: none;
		z-index: -3;
	}
}

// Behind features split image
.illustration-element-02::after {
	background-image: url("../images/illustration-element-02.svg");
}

.illustration-element-03::after {
	background-image: url("../images/illustration-element-03.svg");
}

.illustration-element-04::after {
	background-image: url("../images/illustration-element-04.svg");
}

// Behind team
.illustration-element-05::before {
	background-image: url("../images/illustration-element-05.svg");
	pointer-events: none;
	z-index: -1;
}

.illustration-element-06::after {
	background-image: url("../images/illustration-element-06.svg");
	z-index: 0;
}

.illustration-element-07::before {
	background-image: url("../images/illustration-element-07.svg");
	pointer-events: none;
	z-index: -1;
}

.illustration-element-08::after {
	background-image: url("../images/illustration-element-08.svg");
	z-index: 0;
}
