@use "sass:color";
@use "../../functions" as fn;

.form-input {
	&:focus {
		$shadow-color: fn.get-color(dark, 1);
		box-shadow: 0 8px 20px rgba($shadow-color, 0.16);

		~ .button {
			$button-shadow-color: fn.get-color(dark, 1);
			box-shadow: 0 8px 20px rgba($button-shadow-color, 0.16);
		}
	}
}
