@use "sass:map";
@use "sass:math";
@use "../../colors" as c;
@use "../../mixins" as mx;

.split-wrap {
	margin-top: -(math.div(c.$spacing--shared-v, 2));

	&:last-of-type {
		margin-bottom: -(math.div(c.$spacing--shared-v, 2));
	}

	&:not(:last-of-type) {
		margin-bottom: math.div(c.$spacing--shared-v, 2);
	}

	.split-item {
		padding-top: math.div(c.$spacing--shared-v, 2);
		padding-bottom: math.div(c.$spacing--shared-v, 2);
		display: flex;
		flex-direction: column;

		.split-item-image {
			position: relative;
			width: 100%;

			img,
			svg,
			video {
				width: auto;
				height: auto;
				max-width: 100%;
				overflow: visible;
			}

			&.split-item-image-fill {
				img,
				svg,
				video {
					width: 100%;
				}
			}
		}
	}
}

@include mx.media("<=medium") {
	.split-wrap {
		.split-item {
			.split-item-content {
				margin-bottom: c.$spacing--shared-v;
			}
		}

		&.invert-mobile {
			.split-item {
				.split-item-content {
					order: 1;
					margin-bottom: 0 !important;
				}

				.split-item-image {
					margin-bottom: c.$spacing--shared-v;
				}
			}
		}
	}
}

@include mx.media(">medium") {
	.split-wrap {
		margin-top: -(math.div(c.$spacing--shared-v, 2));

		&:last-of-type {
			margin-bottom: -(math.div(c.$spacing--shared-v, 2));
		}

		&:not(:last-of-type) {
			margin-bottom: math.div(c.$spacing--shared-v, 2);
		}

		.split-item {
			padding-top: math.div(c.$spacing--shared-v, 2);
			padding-bottom: math.div(c.$spacing--shared-v, 2);
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;

			.split-item-content {
				flex-shrink: 0;
				width: (
						math.div(math.div(c.$container--width-sm, 16px), 2) *
							1rem
					) - c.$spacing--shared-h;
				margin-bottom: 0;
				margin-right: c.$spacing--shared-h;
			}

			.split-item-image {
				min-width: (
						math.div(math.div(c.$container--width-sm, 16px), 2) *
							1rem
					) - c.$spacing--shared-h;
			}
		}

		&:not(.invert-desktop) .split-item:nth-child(even),
		&.invert-desktop .split-item:nth-child(odd) {
			justify-content: flex-end;

			.split-item-content {
				order: 1;
				margin-left: c.$spacing--shared-h;
				margin-right: 0;
			}
		}

		&:not(.invert-desktop) .split-item:nth-child(odd),
		&.invert-desktop .split-item:nth-child(even) {
			.split-item-image {
				img,
				svg,
				video {
					margin-left: auto;
				}
			}
		}

		&.align-top {
			.split-item {
				align-items: flex-start;
			}
		}
	}
}

@include mx.media(">large") {
	.container {
		.split-wrap {
			.split-item {
				.split-item-content {
					width: (
							math.div(math.div(c.$container--width, 16px), 2) *
								1rem
						) - c.$spacing--shared-h;
				}

				.split-item-image {
					min-width: (
							math.div(math.div(c.$container--width, 16px), 2) *
								1rem
						) - c.$spacing--shared-h;
				}
			}
		}
	}
}
