@use "sass:map";
@use "sass:math";
@use "../../colors" as c;
@use "../../mixins" as mx;

// Define local defaults for tiles variables
$tiles-item-width: 50% !default; // Default to 2-up tiles

.tiles-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -(math.div(c.$spacing--shared-h, 2));
	margin-left: -(math.div(c.$spacing--shared-h, 2));
	margin-top: -(math.div(c.$spacing--shared-h, 2));

	&:last-of-type {
		margin-bottom: -(math.div(c.$spacing--shared-h, 2));
	}

	&:not(:last-of-type) {
		margin-bottom: math.div(c.$spacing--shared-h, 2);
	}

	&.push-left {
		&::after {
			content: "";
			flex-basis: $tiles-item-width;
			max-width: $tiles-item-width;
			box-sizing: content-box;
			padding-left: math.div(c.$spacing--shared-h, 2);
			padding-right: math.div(c.$spacing--shared-h, 2);
			height: 0;
		}
	}
}

.tiles-item {
	flex-basis: $tiles-item-width;
	max-width: $tiles-item-width;
	box-sizing: content-box;
	padding: math.div(c.$spacing--shared-h, 2);

	* {
		box-sizing: border-box;
	}
}

.tiles-item-inner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100%;
	padding: c.$spacing--shared-v c.$spacing--shared-h;
}

@include mx.media(">medium") {
	.tiles-wrap {
		margin-right: -(math.div(c.$spacing--shared-h, 2));
		margin-left: -(math.div(c.$spacing--shared-h, 2));
		margin-top: -(math.div(c.$spacing--shared-h, 2));

		&:last-of-type {
			margin-bottom: -(math.div(c.$spacing--shared-h, 2));
		}

		&:not(:last-of-type) {
			margin-bottom: math.div(c.$spacing--shared-h, 2);
		}

		&.push-left {
			&::after {
				padding-left: math.div(c.$spacing--shared-h, 2);
				padding-right: math.div(c.$spacing--shared-h, 2);
			}
		}
	}

	.tiles-item {
		padding: math.div(c.$spacing--shared-h, 2);
	}
}
