@use "sass:color";
@forward "variables";
@use "variables" as *;
@use "functions" as fn;

// Base color palette
$colors: (
	heading: fn.get-color(dark, 1),
	base: fn.get-color(dark, 2),
	high-contrast: fn.get-color(dark, 1),
	mid-contrast: fn.get-color(dark, 2),
	low-contrast: fn.get-color(dark, 3),
	primary: fn.get-color(primary, 1),
	secondary: fn.get-color(secondary, 1),
	error: fn.get-color(alert, error),
	warning: fn.get-color(alert, warning),
	success: fn.get-color(alert, success),
	heading-inverse: fn.get-color(light, 1),
	base-inverse: fn.get-color(dark, 3),
	high-contrast-inverse: fn.get-color(light, 1),
	mid-contrast-inverse: fn.get-color(light, 2),
	low-contrast-inverse: fn.get-color(light, 3),
) !default;

// Semantic colors
$colors: map-merge(
	$colors,
	(
		text: (
			hamburger: fn.get-color(dark, 1),
			accordion: fn.get-color(primary, 1),
			social: fn.get-color(primary, 1),
			social-hover: fn.get-color(primary, 2),
			modal: fn.get-color(dark, 3),
			modal-hover: fn.get-color(dark, 2),
			hamburger-inverse: fn.get-color(light, 1),
			accordion-inverse: fn.get-color(light, 1),
			social-inverse: null,
			social-hover-inverse: null,
		),
		border: (
			divider: color.adjust(fn.get-color(light, 3), $lightness: 8%),
			divider-inverse:
				color.adjust(fn.get-color(dark, 2), $lightness: -12%),
		),
		icon: (
			hamburger: fn.get-color(dark, 1),
			accordion: fn.get-color(primary, 1),
			social: fn.get-color(primary, 1),
			social-hover: fn.get-color(primary, 2),
			modal: fn.get-color(dark, 3),
			modal-hover: fn.get-color(dark, 2),
			hamburger-inverse: fn.get-color(light, 1),
			accordion-inverse: fn.get-color(light, 1),
			social-inverse: null,
			social-hover-inverse: null,
		),
		bg: (
			body: fn.get-color(light, 1),
			body-shadow: 0 20px 48px rgba(fn.get-color(dark, 1), 0.1),
			body-outer: fn.get-color(light, 2),
			bg-color: fn.get-color(dark, 1),
			shadow: 0 24px 64px rgba(fn.get-color(dark, 1), 0.24),
			code: fn.get-color(light, 3),
			code-inverse: color.adjust(fn.get-color(dark, 1), $lightness: -3%),
		),
	)
) !default;
